language: julia
os:
  - linux
  - osx
julia:
  - 1.1
  - 1.2
  - 1.3
dist: xenial
services:
  - xvfb
addons:
  apt:
    packages:
    - libgconf-2-4
matrix:
  allow_failures:
  - julia: 1.3
notifications:
  email: false
branches:
  only:
  - master
  - /release-.*/
  - /v(\d+)\.(\d+)\.(\d+)/
env:
  - PYTHON="" MIMI_RUN_DEPENDENCY_TESTS="TRUE"
before_script:
  - julia -e 'using Pkg; Pkg.Registry.add(RegistrySpec(url ="https://github.com/mimiframework/MimiRegistry.git"))'
after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("Mimi")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'

jobs:
  include:
    - stage: "Documentation"
      julia: 1.2
      os: linux
      script:
        - julia -e 'using Pkg; Pkg.update()'
        - julia --project=docs/ -e 'using Pkg; Pkg.Registry.add(RegistrySpec(url = "https://github.com/mimiframework/MimiRegistry.git"))'
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
        - julia --project=docs/ --color=yes docs/make.jl
      after_success: skip
