.App {
  text-align: left;
  margin: 0;
}

.ExplorerBar {
  width: 35vh;
  height: 100vh;
  float: left;
  margin: 0;
  position: relative;
}

.ExplorerTreeView {
  height: 48%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.MuiTreeView-root {
  overflow-y: scroll;
  margin: 0;
}

.ExplorerDataView {
  height:48%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  overflow-y: scroll;
  margin: 0;
}

.graphic {
  float: right;
  border: 1px solid #ccc;
  background-color: #FFFFFF;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
}