.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ExplorerBar {
  width: 35%;
  height: 100vh;
  float: left;
}

.ExplorerTreeView {
  height: 50vh;
  float: left;
}

.MuiTreeView-root {
  height: 30vh;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.ExplorerDataView {
  height:50vh;
  float: left;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.li {
  text-align: 'left'
}

.h4 {
  margin-top: 0
}

.graphic {
  float: right;
  border: 1px solid #ccc;
  background-color: #FFFFFF;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
}