/* Mimi UI */

/* Style the tab */

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    width: 35%;
    height: 100%;
    overflow-y: auto;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    height: 2.5%;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    overflow-y: visible;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an focus "tab button" class */

.tab button:focus {
    background-color: #98CADB;
}

/* Style the tab content */

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 65%;
    border-left: none;
    height: 100%;
}

.graphic {
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}
